.white-card{
    background-color: white;
    border-radius: 12px;
}

.white-card-title{
    color: #515151;
    font-size: 16px;
    font-weight: 700; 
}

.nav_link{
    color: #C90F8D;
    text-decoration: none;
}