.footer {
    height: 264px;
    min-height: 264px;
    background-color: #502464;
}

.social-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

footer a.nav-link.active{
    font-weight: 700;
}