.switch {
    position: relative;
    display: inline-block;
    width: 219px;
    height: 34px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #502464;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 110px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* input:checked + .slider {
    background-color: #2ab934;
  } */
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(101px);
    -ms-transform: translateX(101px);
    transform: translateX(101px);
  }
  
  /*------ ADDED CSS ---------*/
  .on, .off {
    position: absolute;
    top: 50%;
    font-size: 14px;
    font-weight: 700;
    user-select:none;
    transition: 0.5s;
  }

  input + .slider .off{
    color: #502464;
  }
  input:checked + .slider .off{
    color: white;
  }

  input + .slider .on{
    color: white;
  }
  input:checked + .slider .on{
    color: #502464;
  }

  .off{
    left: 55px;
    transform:translate(-50%,-50%);
  }

  .on{
    right: 55px;
    transform:translate(50%,-50%);

  }
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 34px;
  }
  